:root {
    --bg: #151C2C;
    --bgSoft: #182237;
    --fg: white;
    --fgSoft: #B7BAC1;
    --hover: #2E374A;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    color: var(--fg);
}

a{
    color: inherit;
    text-decoration: none;
}